<label>Title:</label>
{{input value=model.title}}
<label>System:</label>
{{input value=model.system}}
<label>Image:</label>
{{#game-image-uploader game=model}}{{/game-image-uploader}}
<img src={{model.image}} />
<button {{action create}}>Create</button>
{{#link-to 'games'}}Back{{/link-to}}
