// Rating stars
%star {
  display: block;
  float: right;
  height: 20px;
  width: 20px;
}

%star-selected {
  @extend %star;
  fill: $star-selected;
  stroke: $star-border;
  stroke-miterlimit: 10;
  stroke-width: 0.16;
}

.rating {
  direction: rtl;
  float: left;
  unicode-bidi: bidi-override;
}

.star-selected {
  @extend %star-selected;
}

.star-unselected {
  @extend %star;
  fill: $white;
  stroke: $star-border;
  stroke-miterlimit: 10;
  stroke-width: 0.16;

  &:hover,
  &:hover ~ .star-unselected {
    @extend %star-selected
  }
}
