// Rating stars
%star-selected {
  color: $star-selected;
  text-shadow: -1px 0 $star-selected-border, 0 1px $star-selected-border, 1px 0 $star-selected-border, 0 -1px $star-selected-border
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  float: left;
}

.star-selected {
  @extend %star-selected
}

.star {
  color: $star;
  text-shadow: -1px 0 $star-border, 0 1px $star-border, 1px 0 $star-border, 0 -1px $star-border;

  &:hover,
  &:hover ~ .star {
    @extend %star-selected
  }
}

.clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
