<h1 id="title">{{#link-to "index" title="Home" tabindex="1"}}Leisure Lists{{/link-to}}</h1>
{{#if currentUser.signedIn}}
  <button {{action "signOut"}}>Sign out</button>
{{else}}
  {{#link-to "sign-in"}}Sign in{{/link-to}}
{{/if}}

{{outlet}}
