<h1>{{model.capitalizeTitle}}</h1>
<p>{{model.system}}</p>
<p>{{model.releaseDate}}</p>
<img src={{model.image}} />
{{#link-to 'game.edit' model}}Edit{{/link-to}}
{{#link-to 'games'}}Back{{/link-to}}
